[CONNECTOR]
CONNECTOR_NAME=CommVault Connector
CONNECTOR_SERVER_ADDRESS=
CONNECTOR_SERVER_NAME=
CONNECTOR_USE_TLS=False
CONNECTOR_COMM_VAULT_USER_DOMAIN=
CONNECTOR_COMM_VAULT_USER=
CONNECTOR_COMM_VAULT_USER_PASSWORD=
CONNECTOR_MSLSAM_ROOT_DIRECTORY=
CONNECTOR_SESSION_RETRY_VALUE=5
CONNECTOR_POLL_INTERVAL=5
CONNECTOR_INITIAL_POLL_DELAY=10
CONNECTOR_DEBUG=ON






